/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28/04/2018, 02:09:28
    Author     : Luiz Eduardo
*/

#main-container {
    padding: 0 !important;
}
#sidebar, #navbar, #breadcrumbs, .footer {
    display: none !important;
}
.main-content {
    margin: 0 !important;
}