@charset "utf-8";
h1, h2, h3 {
    color: #4d6162 !important;
}
.bigger-500 {
    font-size: 500%!important;
}
.blue {
    color: #36b8ea!important;
}
.ancora {
    padding-top: 20px;
    color: #4d6162;
}
.menuDocs li {
    list-style-type: circle;
    font-size: 14pt;
}

.bordaTopo {
    background-color: #36b8ea;
    height: 15px;
    left: 0px;
    position: fixed;
    top: 0px;
    width: 100%;
    -webkit-box-shadow: 0 10px 0 0 rgb(208 209 211 / 40%);
    box-shadow: 0 10px 0 0 rgb(208 209 211 / 40%);
}

.fundoImagem {
    background-image: url(../../global/images/fundo.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    left: 0px;
    position: fixed;
    top: 0px;
    width: 100%;
}

.filtroCor {
    background-color: rgba(185, 185, 185, 0.5);
    height: 100%;
    left: 0px;
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: 60px;
    padding-bottom: 60px;
    /*    position: fixed;*/
    top: 0px;
    width: 100%;

    align-items: center;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    min-height: 100%;
    -webkit-align-items: center;
    -webkit-justify-content: center;
}

.filtroCor .container {
    margin: 1px;
}
.no-hover:hover{
    text-decoration: inherit !important;
}
.filtroCor .container .texto-grande {
    color: #4d6162;
    font-family: "Roboto", "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
    font-size: 22pt;
    font-weight: 300;
}
.filtroCor .container .texto-grande .linha {
    display: block;
    text-align: center;
    width: 100%;
    text-shadow: 1px 1px 2px #999;
}
.filtroCor .container .texto-grande .linha .botaoVoltar {
    background-color: #36b8ea;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 14px 40px;
    text-align: center;
}

.filtroCor .container .texto-grande .linha .botaoVoltar:hover {
    background-color: #2e9ac3;
}
.filtroCor .container .texto-grande .linha .botaoVoltar:active {
    background-color: #2e9ac3;
}

.filtroCor .container .texto-grande .linha strong {
    color: #36b8ea;
    font-weight: 500 !important;
}
.filtroCor .container .texto-grande .linha.error strong {
    color: #c56767;
    font-weight: 500 !important;
}
.contadorRegressivo {
    color: #c56767;
    font-size: 30pt;
    font-weight: 500 !important;
}
.filtroCor .container .caixa {
    background-color: #FFF;
    box-sizing: border-box;
    color: #7d7d7d;
    /*font-family: "Roboto", "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";*/
    display: block;
    padding: 30px;
}

.filtroCor .container .caixa label {
    font-weight: 500;
}

.filtroCor .container .caixa .titulo {
    border-bottom: 1px solid #36b8ea;
    color: #36b8ea;
    font-size: 20px;
    font-family: inherit;
    text-align: center;
    font-weight: 400;
    margin-bottom: 20px;
    padding-bottom: 10px;
}


.filtroCor .container .barra {
    background-color: #36b8ea;
    box-sizing: border-box;
    color: #FFFFFF;
    /*font-family: "Roboto", "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";*/
    display: block;
    padding: 20px;
    text-align: center;
    /*    -webkit-box-shadow: 0 10px 0 0 rgb(208 209 211 / 40%);
        box-shadow: 0 10px 0 0 rgb(208 209 211 / 40%)*/
}

.filtroCor .container .barra a {
    color: #FFFFFF;
    margin: 10px;
    text-decoration: none;
}
.filtroCor .container .barra a:hover {
    color: #FFFFFF;
    text-decoration: underline;
}
.logosTopo {
    max-height: 110px;   
}
.logosRodape {
    max-height: 80px;   
}
.visible {
    display: block!important;
}
.input-group-addon {
    min-width: 40px;
}
.checkbox-inline, .radio-inline {
    position: relative;
    display: inline-block;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 400;
    vertical-align: middle;
    cursor: pointer;
}
.__labelRadio {
    margin: 0 10px 0 0 !important;
}
.radio {
    display: inline-block !important;
    margin: 5px !important;
    width: 18px !important;
    height: 18px !important;
}
.align-center, .center {
    text-align: center!important;
}
.block {
    display: block!important;
}
label.block.clearfix {
    margin-bottom: 10px;
}
.__clear {
    clear: both;
}
.font-120 {
    font-size: 120%;
}
.font-140 {
    font-size: 140%;
}
.font-160 {
    font-size: 160%;
}
.font-180 {
    font-size: 180%;
}
.login-box, .forgot-box, .signup-box {
    -webkit-box-shadow: 0 0 0 10px rgb(208 209 211 / 40%);
    box-shadow: 0 0 0 10px rgb(208 209 211 / 40%);
    padding-left: 0 !important;
    padding-right: 0 !important;
}

@media (min-width: 481px) and (max-width: 767px) {
    .filtroCor .container .barra a {
        display: block;
        width: 100%;
    }
    .filtroCor .container .barra {
        padding: 10px;
    }
    .filtroCor .container .texto-grande {
        font-size: 20px !important;
    }

    .filtroCor .container .texto-grande .linha .botaoVoltar {
        font-size: 16px;
        padding: 9px 20px;
    }
}

@media (max-width: 480px)  {
    .filtroCor .container .barra a {
        display: block;
        /*width: 100%;*/
    }
    .filtroCor .container .barra {
        padding: 10px;
    }
    .filtroCor .container .texto-grande {
        font-size: 20px !important;
    }

    .filtroCor .container .texto-grande .linha .botaoVoltar {
        font-size: 16px;
        padding: 9px 20px;
    }
}
