.gm-style-iw-d{
    overflow: hidden!important;
}
.gm-ui-hover-effect {
    display: none!important;
}
/*
 * Property styles in unhighlighted state.
 */
.imovel {
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 50%;
    color: #263238;
    display: flex;
    font-size: 12px;
    gap: 10px;
    min-height: 100px;
    justify-content: center;
    padding: 0px;
    position: relative;
    transition: all 0.3s ease-out;
    min-width: 300px;
    /*max-width: 300px;*/
    margin-bottom: 10px;
    margin-right: 20px;
}

.imovel .icon {
    align-items: center;
    display: flex;
    justify-content: space-around;
    color: #FFFFFF;
    font-size: 50pt;
    flex-direction: column;
}
.imovel .icon span {
    font-size: 10pt;
    font-weight: 500;
}

.imovel .icon .situacao_A, .imovel .icon .situacao_A a {
    color: #ffb752;
}
.imovel .icon .situacao_R, .imovel .icon .situacao_R a {
    color: #87b87f;
}
.imovel .icon .situacao_P, .imovel .icon .situacao_P a {
    color: #d15b47;
}

.imovel .detalhes {
    flex-direction: column;
    flex: 1;
}

.imovel .descricao {
    font-size: 11pt;
    font-weight: 500;
    color: #3E3E3E;
}

.imovel .endereco {
    color: #9E9E9E;
    font-size: 10pt;
    margin-bottom: 10px;
    margin-top: 5px;
}

.imovel .icones {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-around;
}

.imovel .icones > div {
    align-items: center;
    background: #F5F5F5;
    border-radius: 5px;
    border: 1px solid #e5e5e5;
    display: flex;
    font-size: 10px;
    gap: 5px;
    padding: 5px;
    color: #095894;
}

.imovel .icones .valor {
    font-weight: 500;
}
