.qq-uploader {
    position:relative;
    width: 100%;
    display: block;
    padding: 8px;
    background-color: #FFF;
    border: 1px solid #D5D5D5;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all .15s;
    -o-transition: all .15s;
    transition: all .15s;
}
.qq-upload-button {
    display: inline-block;
    z-index: 98;
    /*width: 100px;*/
}
.qq-upload-drop-area {
    position:absolute; top:0; left:0; width:100%; height:100%; min-height: 20px; z-index:2;
    background:#dfeaff; text-align:center; 
}
.qq-upload-drop-area span {
    display: block;
    width: 100%;
    font-size: 14px;
    line-height: 24px;
    padding: 12px 12px 12px 112px;
}
.qq-upload-drop-area-active {background:#dfeaff;}
.qq-upload-list {margin:0; padding:0; list-style:none; display: inline-block;}
.qq-upload-list li { margin:0 0 0 10px; padding:0; line-height:16px; font-size:14px; list-style:none;}
.qq-upload-spinner, .qq-upload-size, .qq-upload-cancel, .qq-upload-failed-text {
    max-width: 191px;
    display: inline-block;
}

.qq-upload-list li span {
    margin-right: 10px;
    color: #87b87f;
    /*display: none;*/
}
.qq-upload-size {
    color: #337ab7 !important;
    /*display: none !important;*/
}

/*.qq-upload-file {display: none;}*/

.qq-upload-spinner {display:inline-block; width:15px; height:15px; vertical-align:text-bottom;}
/*.qq-upload-size {display:inline-block; font-size:11px; color: #333;}*/
a.qq-upload-cancel {
    z-index: 99;
    display: inline-block;
    position: absolute;
    top: 8px;
    left: 8px;
    width: 132px;
}
.qq-upload-failed-text {display:none; color: #D15B47 !important;}
.qq-upload-fail .qq-upload-failed-text {display:inline;}